<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Equipo</title>
</head>
<body>
<header>
  <h1>Bufete Jurídico Cota &amp; Asociados</h1>

<nav>
  <ul>
    <li><a href="index.html">Inicio</a></li>
    <li><a href="services.html">Servicios</a></li>
    <li><a href="about.html">Sobre Nosotros</a></li>
    <li><a href="equipo.html">Equipo</a></li>
    <li><a href="casos.html">Casos</a></li>
    <li><a href="faq.html">Preguntas Frecuentes</a></li>
    <li><a href="contact.html">Contacto</a></li>
  </ul>
</nav>

</header>
<main>

<section>
  <h2>Nuestro Equipo</h2>
  <img src="assets/img/abogado3.webp"/>/>
  <p>Lic. Ricardo Méndez Villalobos – Derecho Laboral</p>
  <img src="assets/img/abogado2.webp"/>/>
  <p>Lic. Eduardo Herrera Lozano – Derecho Administrativo</p>
  <img scr="assets/img/abogado1.webp"/>/>
  <p>Lic. Patricio Salazar Medina – Derecho Corporativo</p>
</section>

</main>

<footer>
  <p>&copy; 2025 Bufete Jurídico Cota &amp; Asociados</p>
  <p><a href="privacy.html">Aviso de privacidad</a></p>
</footer>

</body>
</html>
